@keyframes app-open{
    0%{
        transform: scale3d(0.1, 0.1, 1) translate3d(50%, 50%, 0);
    }
    100%{
        top: 0;
        left: 0;
        opacity: 1;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
}

@keyframes app-close{
    0%{
        top: 0;
        left: 0;
        opacity: 1;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
    60%{
        transform: scale3d(0.2, 0.2, 1) translate3d(30%, 30%, 0);
    }
    70%{
        opacity: 0;
    }
    100%{
        transform: scale3d(0.2, 0.2, 1) translate3d(30%, 30%, 0);
    }
}

@keyframes history-app-open{
    0%{
        top: 0;
        left: 0;
        opacity: 1;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
    100%{
        
    }
}

@keyframes app-icon-open{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes app-icon-close{
    0%{
        transform: scale(1.5);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes sub-view-in{
    0%{
        transform: translate3d(40px, 0, 0);
        opacity: 0;
    }
    100%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes sub-view-out{
    0%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100%{
        transform: translate3d(40px, 0, 0);
        opacity: 0;
    }
}

@keyframes background-cover{
    0%{
        background-color: transparent;
    }
    40%{
        background-color: #000;
    }
    60%{
        background-color: #000;
    }
    100%{
        background-color: transparent;
    }
}

@keyframes history-open{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes history-close{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes app-content-loaded{
    0%{
        transform: translate3d(0, 30px, 0);
        opacity: 0;
    }
    100%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes lock-screen-in{
    0%{
        z-index: 1000;
        box-shadow: none;
    }
    100%{
        z-index: 1000;
        box-shadow: inset 0 -120vh 30px #000;
    }
}

@keyframes lock-screen-out{
    0%{
        z-index: 1000;
        box-shadow: inset 0 -120vh 30px #000;
    }
    100%{
        z-index: 1000;
        box-shadow: none;
    }
}